@import "./variables";


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3,auto);
}

.cell {
  width: $cell-size;
  height: $cell-size;
  border: $cell-border;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  //remove outer border
  &:first-child ,&:nth-child(2),&:nth-child(3){
    border-top: none;
  }
  &:nth-child(3n+1){
    border-left: none;
  }
  &:nth-child(3n+3){
    border-right: none;
  }
  &:nth-child(7) ,&:nth-child(8),&:nth-child(9){
    border-bottom: none;
  }
}

.cell.x {
    &::before,&::after {
      content: '';
      position: absolute;
      width: $mark-size*0.15;
      height: $mark-size;
      background-color: $cell-color;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
}